<div class="search-bar-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ selectedSearchTerm }}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="changeSearchTerm('Title')">Title</a></li>
            <li><a class="dropdown-item" (click)="changeSearchTerm('Rating')">Rating</a></li>
            <li><a class="dropdown-item" (click)="changeSearchTerm('Genre')">Genre</a></li>
        </ul>
    </div>
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Enter search term here..."
            aria-label="Search">
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
    </div>
</div>