.navbar {
    background-color: #2c2c2c; 
}

.navbar .navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold;
    background-image: linear-gradient(to bottom, white, #9c27b0); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff; 
}

.navbar .navbar-nav .nav-link.active {
    color: #9c27b0; 
}

.navbar-toggler-icon {
    background-color: #9c27b0; 
}

.navbar .navbar-nav .nav-link:hover {
    color: #9c27b0; 
}
